@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import "tailwindcss";

body, html {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: #1A1E27;
  font-size: 16px;
}

@theme {
  --color-primary: #353C49;
  --color-secondary: #6D7582;
  --color-subtitle: #8D94A0;
  --color-palette-primary: #4880EE;
  --color-palette-red: #E84118;
  --color-palette-gray: #DADADA;
  --color-palette-lightGray: #F2F4F6;
}